<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
      @if (loginForm.get("username")?.hasError("required")) {
        <mat-error> Username is required </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
        required
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>

      @if (loginForm.get("password")?.hasError("required")) {
        <mat-error> Password is required </mat-error>
      }
    </mat-form-field>

    <div class="centre margin-top">
      <button
        mat-raised-button
        color="primary"
        [disabled]="loading || !loginForm.valid"
        type="submit"
      >
        @if (loading) {
          <mat-spinner
            mat-progress-spinner
            [diameter]="24"
            mode="indeterminate"
          ></mat-spinner>
        }
        @if (!loading) {
          <span>Login</span>
        }
      </button>
    </div>
    <span class="centre margin-top"
      >New to our platform?&nbsp;
      <a (click)="showRegisterMessage()">Get registered</a></span
    >
  </form>
</div>
