<div class="sidenav-header" *ngIf="currentUser()">
  <img src="images/avatar.jpg" [width]="profilePicSize()" [height]="profilePicSize()" alt="profile avatar"
    [class.remove-img-margin]="sideNavCollapsed()" />
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>Your account</h2>
    <p>{{ currentUser()?.username }}</p>
  </div>
</div>
<mat-nav-list>
  @for (item of menuItems(); track item.label) {
  <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()"></app-menu-item>
  }
  <app-menu-item [item]="logoutItem" [collapsed]="sideNavCollapsed()" [onClick]="logout"
    [visible]="currentUser() != null"></app-menu-item>
</mat-nav-list>