/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: #fcf9f6,
      button-color: #ba1a1a,
      supporting-text-color: #1c1c1b,
    )
  );
  @include mat.dialog-overrides(
    (
      actions-padding: 16px,
    )
  );
}

$mat-primary: (
  main: #499d23,
  lighter: #f0b3b3,
  darker: #499d23,
  contrast: (
    main: #ffffff,
    lighter: #000000,
    darker: #ffffff,
  ),
);

$theme-primary: mat.m2-define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400);

// Create the theme using the defined palettes.
// You can use define-light-theme or define-dark-theme.
$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Include the theme mixin to apply the styles.
// This mixin outputs the CSS variables based on the theme map.
@include mat.all-component-themes($my-theme);

// Dark theme definition
$my-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// Apply the dark theme by adding the `.dark-theme` class to the `body` element.
body.dark-theme {
  @include mat.all-component-colors($my-dark-theme);

  @include mat.snack-bar-overrides(
    (
      container-color: #131312,
      button-color: #ffb4ab,
      supporting-text-color: #e5e2e0,
    )
  );
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: var(--global-corner-radius);
}

@layer view-transitions {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.5s;
  }
}

/* Table link styles */
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --primary-color: #499d23;
  --global-corner-radius: 18px;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-collapsed {
  a[mat-list-item] .mat-list-item-content {
    justify-content: center;
  }

  .mat-drawer-inner-container {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

.filledIcon {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.centre {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}

.snack-bar-container {
  margin-left: 250px !important;
}

body.sidenav-collapsed .snack-bar-container {
  margin-left: 65px !important;
}

.table-container,
.table-wrapper {
  margin-bottom: 16px !important;
  border-radius: var(--global-corner-radius) !important;
}

.filter-field {
  width: 100%;
  margin-bottom: 20px;
}

.table-container {
  position: relative;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.table-wrapper {
  overflow: auto;
}


figure {
  display: flex;
  flex-direction: column;
}

.full-article img {
  max-height: 400px;
  border-radius: 1.2rem;
  width: 100%;
  object-fit: cover;
  margin: 1rem auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .header-content {
    .subtitle {
      margin: 4px 0 0 0;
    }
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

ng-lottie {
    margin-left: 44px;
    display: flex;
    justify-content: center;
}

.empty-state {
  text-align: center;
  margin-top: 48px;

  h2 {
    margin-top: 16px;
    font-size: 1.5rem;
  }

}

.no-data-cell {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: grey;
}