.personalised-section {
  margin-bottom: 32px;

  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  mat-list-item {
    cursor: pointer;
  }
}

.categories {
  h3 {
    margin-bottom: 8px;
  }

  mat-list-item {
    cursor: pointer;
  }
}
