<h1 mat-dialog-title>Create Directory</h1>
<mat-dialog-content class="form-container">
  <form [formGroup]="directoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>Directory Name</mat-label>
      <input matInput formControlName="name" required />
      @if (directoryForm.get("name")?.hasError("required")) {
        <mat-error> Directory Name is required </mat-error>
      }
      @if (directoryForm.get("name")?.hasError("minlength")) {
        <mat-error>
          Directory Name must be at least 3 characters long
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="loading || !directoryForm.valid"
    (click)="onSubmit()"
  >
    @if (loading) {
      <mat-spinner
        mat-progress-spinner
        [diameter]="24"
        mode="indeterminate"
      ></mat-spinner>
    }
    @if (!loading) {
      <span>Create</span>
    }
  </button>
</mat-dialog-actions>
