<h1 mat-dialog-title>Create Directory</h1>
<mat-dialog-content>
  <form [formGroup]="directoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Directory Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="directoryForm.get('name')?.hasError('required')">
        Directory Name is required
      </mat-error>
      <mat-error *ngIf="directoryForm.get('name')?.hasError('minlength')">
        Directory Name must be at least 3 characters long
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="loading || !directoryForm.valid"
    (click)="onSubmit()"
  >
    <mat-spinner
      *ngIf="loading"
      mat-progress-spinner
      [diameter]="24"
      mode="indeterminate"
    ></mat-spinner>
    <span *ngIf="!loading">Create</span>
  </button>
</mat-dialog-actions>
