.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  box-sizing: content-box;

  .full-width {
    width: 100%;
  }
}