@if (directoryCategory) {
  <section class="directories-header">
    <div class="header-content">
      <h1>Directories / {{ directoryCategory.name }}</h1>
    </div>
    <button mat-flat-button color="primary" (click)="onAddEntry()">
      <mat-icon>add</mat-icon>
      <span>Add Entry</span>
    </button>
  </section>

  @if (directoryCategory.entries.length === 0) {
    <div class="empty-state">
      <ng-lottie
        [options]="options"
        width="300px"
        height="300px"
        (animationCreated)="animationCreated($event)"
      ></ng-lottie>
      <h2>No entries in this directory</h2>
      <p>Try adding some and they appear right here!</p>
    </div>
  }
}
