mat-toolbar {
  position: relative;
  z-index: 10;
  padding: 0 8px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out !important;
}

.app-title {
  margin-left: 16px;
  font-size: 1.25rem;
  font-weight: 500;
}

.content {
  padding: 24px;
}
